.button {
  border: unset;
  border-radius: 20px;
  background-color: var(--color-secondary-100);
  color: var(--color-primary);
  padding: 4px 16px;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 5px;
  user-select: none;
}

.button.active {
  background-color: black;
}
