.intro {
  display: flex;
  justify-content: center;
  /* min-height: 80dvh; */
  /* padding-top: 6rem; section padding*/
  /* padding-inline: 14rem; */
}

.intro-text {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  justify-content: center;
  /* & hgroup {
    padding-top: 80px;
  } */
}

.buttons-group {
  display: flex;
  column-gap: 12px;
}

.suptext {
  /* display: inline-block; */

  /* align-items: center; */
  /* justify-content: flex-end; */
  /* margin-bottom: 5rem; */
  /* padding-left: 50%; */

  font-size: 1.6rem;
  /* color: var(--color-light-100); */
  /* text-align: end; */
  /* text-wrap: balance; */
  /* letter-spacing: 0.8px; */
  font-weight: 400;
}

.heading {
  /* display: inline-block; */
  /* max-width: 90%; */
  /* letter-spacing: 0.1px; */
  line-height: 1.3;

  & span {
    color: var(--color-secondary);
  }
}

.hero {
  display: block;
  max-width: 100%;
  height: auto;
  pointer-events: none;
}

.arrow-down {
  display: block;
  margin-inline: auto;
}
