@import "./fonts.css";
@import "./variables.css";
@import "./normalize.css";

html {
  font-size: var(--root-percent);
}

body {
  background-color: var(--color-light);

  font-family: var(--font-family-base);
  font-weight: 400;
  color: var(--color-dark);
}

.section {
  margin-top: 60px;
}

.heading-1 {
  font-size: 2.4rem;
}

.heading-2 {
  font-size: 2.4rem;
}

.heading-3 {
  font-size: 2rem;
}
