@import "./fonts.css";
@import "./variables.css";
@import "./normalize.css";

html {
  font-size: var(--root-percent);
}

body {
  color: var(--color-light);
  font-family: var(--font-family-base);
  font-weight: 400;
  background-color: var(--color-dark);
}
